In [7]:
import os
import django

os.environ.setdefault("DJANGO_SETTINGS_MODULE", "miRedSocial.settings")
django.setup()

In [11]:
from asgiref.sync import sync_to_async
from django.contrib.auth.models import User

async def obtener_usuarios():
    return [u async for u in User.objects.all()]

usuarios = await obtener_usuarios()

for u in usuarios:
    print("Hola ->", u.username)

Hola -> alexander
Hola -> francisco
Hola -> wilfredo

In [19]:
from asgiref.sync import sync_to_async
from django.contrib.auth.models import User
import pandas as pd

# ðŸš€ Convertimos la consulta en una lista sÃ­ncrona usando async wrapper
usuarios = await sync_to_async(list)(User.objects.all())

data = []

for u in usuarios:
    data.append({
        "id": u.id,
        "username": u.username,
        "email": u.email,
        "first_name": u.first_name,
        "last_name": u.last_name,
        "password_hash": u.password,
        "is_active": u.is_active,
        "is_staff": u.is_staff,
        "is_superuser": u.is_superuser,
    })

df = pd.DataFrame(data)  
df

,id,username,email,first_name,last_name,password_hash,is_active,is_staff,is_superuser
0,1,alexander,afsegovia@pucp.edu.pe,,,pbkdf2_sha256$1000000$cn0jgM1E4psrgP0fECLnaq$c...,True,True,True
1,2,francisco,fsegovia2497@gmail.com,Alexander,Segovia,pbkdf2_sha256$1000000$tA0jV9xI1hK3S9UbdbpbCp$2...,True,False,False
2,3,wilfredo,wilfredo@gmail.com,,,pbkdf2_sha256$1000000$M5tuyvK59iffR5RRQRmZh7$l...,True,False,False

In [20]:
df.to_csv("usuarios_exportados.csv", index=False)
print("CSV generado correctamente ðŸš€")

CSV generado correctamente ðŸš€

In [17]:
from asgiref.sync import sync_to_async
from accounts.models import Profile
import pandas as pd

# ðŸš€ Convertimos el queryset a lista sincronizable
perfiles = await sync_to_async(list)(Profile.objects.select_related("user").all())

data = []

for p in perfiles:
    data.append({
        "profile_id": p.id,
        "user_id": p.user.id,          # ðŸ”¥ REFERENCIA AL USER
        "username": p.user.username,   # ðŸ§  Nombre del usuario relacionado
        "bio": p.bio,
        "birthdate": p.birthdate,
        "is_private": p.is_private,
        "created_at": p.created_at,
        "updated_at": p.updated_at,
    })

df_profiles = pd.DataFrame(data)
df_profiles

,profile_id,user_id,username,bio,birthdate,is_private,created_at,updated_at
0,1,2,francisco,Ingeniero Mecatronico de la PUCC,2004-07-03,True,2025-12-02 07:31:04.364919+00:00,2025-12-02 16:35:13.184249+00:00
1,2,3,wilfredo,,None,False,2025-12-02 07:34:56.504817+00:00,2025-12-02 07:34:56.504817+00:00

In [18]:
df_profiles.to_csv("profiles_exportados.csv", index=False)
print("âœ” CSV generado: profiles_exportados.csv")

âœ” CSV generado: profiles_exportados.csv